################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/IVCL_2024_Winter/FileContentIndex/419a57c8-7e48-4216-b8af-920a63680b85.vsidx
/.vs/IVCL_2024_Winter/FileContentIndex
/.vs/IVCL_2024_Winter/v17/Browse.VC.opendb
/1_영상압축_개요/.vs/1_영상압축_개요/FileContentIndex/70c2ea5c-a8fa-4c67-b877-828df4fa457d.vsidx
/1_영상압축_개요/.vs/1_영상압축_개요/v17/Browse.VC.opendb
/2_영상압축_압축기초_1/.vs/2_영상압축_압축기초_1
/3_영상압축_압축기초_2/.vs/3_영상압축_압축기초_2/FileContentIndex
/3_영상압축_압축기초_2/.vs/3_영상압축_압축기초_2/v17/Browse.VC.opendb
/4_영상압축_Intra_Prediction_1/.vs/4_영상압축_Intra_Prediction_1/FileContentIndex
/4_영상압축_Intra_Prediction_1/.vs/4_영상압축_Intra_Prediction_1/v17
/3_영상압축_압축기초_2/.vs/3_영상압축_압축기초_2/v17/Browse.VC.db
/3_영상압축_압축기초_2/.vs/3_영상압축_압축기초_2/v17/.suo
/5_영상압축_Intra_Prediction_2_1/.vs/5_영상압축_Intra_Prediction_2_1
