################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/IVCL_2024_Winter/FileContentIndex/419a57c8-7e48-4216-b8af-920a63680b85.vsidx
/.vs/IVCL_2024_Winter/FileContentIndex
/.vs/IVCL_2024_Winter/v17/Browse.VC.opendb
